
.container{
    display: flex;
    /*align-items: center;*/
}
.container img{
    width: 50%;
}
.container div{
    width: 50%;
}
.heroText{
    justify-content: center;
    margin-left: 150px;
    text-align: center;
    margin-top: 60px;
    align-items: center;
}
.formStyle{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.input {
    align-items: center;
    /*gap: 185px;*/
    font-size: 10px;
    margin-right: 85px;
    font-weight: bold;
}

.input > h2 {
    margin-right: 55px;
    font-size: 10px;
}


.inputOne{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
    color: #007bff;
    font-size: 10px;
    font-weight: bold;
    margin-top: -20px;
    margin-left: 200px;

}


.inputField{
    /*display: flex;*/

    border-radius: 7px;
    border: 1px solid black;
    width: 300px;
    height: 40px;
    align-items: center;

}

.error{
    color: red;

}

.form .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}